.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

#heroImage {
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  text-shadow: 3px 3px 6px black;
}

#heroButton {
  margin-left: 550px;
  margin-top: 180px;
}

#navBar {
  margin: 0;
}

#jumbotronDiv {
  background: url('hero_image.jpg');
  height: 470px;
  width: 100%;
}

#calendarDateSet {
  height: 30px;
  width: 15%;
  margin-left: 490px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 4px;
}

#selectedCondition {
  height: 30px;
  width: 60%;
  border: solid grey .5px;
  padding-left: 10px;
  padding-top: 4px;
}

#formBox {
  border: solid black 1px;
  background-color: #F5F5F5;
}

#resultsBox {
  border: solid black 1px;
}

#footer {
  background-color: #0D87E9;
}

#pFooter {
  text-align: center;
  color: white;
}
