.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

#calendarDateSet {
  height: 30px;
  width: 15%;
  border: solid grey .5px;
  margin-left: 490px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 4px;
}

#selectedCondition {
  height: 30px;
  width: 60%;
  border: solid grey .5px;
  padding-left: 10px;
  padding-top: 4px;
}

#formBox {
  border: solid black 1px;
  background-color: #F5F5F5;
}

#resultsBox {
  border: solid black 1px;
}

#footer {
  background-color: #0D87E9;
}

#pFooter {
  text-align: center;
  color: white;
}
