.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

#selectedCondition {
  height: 30px;
  width: 70%;
  border: solid grey .5px;
}

#formBox {
  border: solid black 1px;
  background-color: #F5F5F5;
}

#resultsBox {
  border: solid black 1px;
}

#footer {
  background-color: #0D87E9;
}

#pFooter {
  text-align: center;
  color: white;
}
